[submodule "create3_sim"]
	path = create3_sim
	url = https://github.com/iRobotEducation/create3_sim.git
[submodule "turtlebot3_simulations"]
	path = turtlebot3_simulations
	url = https://github.com/ROBOTIS-GIT/turtlebot3_simulations.git
	branch = humble-devel
[submodule "turtlebot3"]
	path = turtlebot3
	url = https://github.com/ROBOTIS-GIT/turtlebot3.git
	branch = humble-devel
[submodule "create3_examples"]
	path = create3_examples
	url = https://github.com/iRobotEducation/create3_examples.git
	branch = humble
