<?xml version="1.0"?>
<!--Develped by Daniel Ordonez 22.05.2018 - daniels.ordonez@gmail.com
  INFORMATION:
    This is an example of how to use the realsense-rs200 macro function.
-->
<robot name="cam_l515" xmlns:xacro="http://ros.org/wiki/xacro">

    <link name="world" />
    <link name="$(arg name)_camera_link" />
        

    <joint name="world_to_camera" type="fixed">
        <parent link="world"/>
        <child link="$(arg name)_camera_link"/>
        <origin xyz="$(arg x_pos) $(arg y_pos) $(arg z_pos)" rpy="0 1.54 0" />   
    </joint>
    

    <!-- Import macro for realsense-RS200 camera-->
    <xacro:arg name="use_nominal_extrinsics" default="true"/>
    <xacro:arg name="add_plug" default="true" />
    <xacro:arg name="use_mesh" default="true" />
    <xacro:arg name="name" default="camera" />
    <xacro:arg name="namespace" default="camera" />
    <xacro:arg name="publish_pointcloud" default="true" />
    <xacro:arg name="x_pos" default="0.0" />
    <xacro:arg name="y_pos" default="0.0" />
    <xacro:arg name="z_pos" default="1.0" />
    <xacro:include filename="$(find realsense2_description)/urdf/_l515.urdf.xacro"/>
    <!-- Create camera instance -->
    <xacro:sensor_l515 parent="$(arg name)_camera_link" use_nominal_extrinsics="$(arg use_nominal_extrinsics)" add_plug="$(arg add_plug)" use_mesh="$(arg use_mesh)" name="$(arg name)" topics_ns="$(arg namespace)" publish_pointcloud="$(arg publish_pointcloud)">
        <origin xyz="0 0 0" rpy="0 0 0" />   
    </xacro:sensor_l515>
</robot>
