#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Name=MultiRobot Framework
Comment=Run the MultiRobot Framework
Exec=/home/diego/multirobots/src/MultiRobot/mrs_master/scripts/framework.sh
Icon=/home/diego/multirobots/src/MultiRobot/mrs_images/icon.png
Terminal=false
Type=Application
#Categories=Utility;

